# Virtual Environment
env/
venv/
*.venv

# Python cache files
__pycache__/
*.pyc

# Database
db.sqlite3
*.sqlite3

# Operating System files
.DS_Store
Thumbs.db

# Log files
*.log

# Secrets / Environment Variables
# We will create a .env file later for secrets like your SECRET_KEY
.env

# Static and Media files
# In a real project, you might handle these differently, but for now,
# ignoring the local development media folder is a good practice.
/media/